<div class="col-12 my-2 exp_box" id="filtered-list" data-test="filtered-list">
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item active"><span class="page-link waves-effect">1</span></li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(2)">2</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(3)">3</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(4)">4</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(5)">5</span>
                    </li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item"><span class="page-link waves-effect" onclick="getFilteredList(646)">646</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>AnirudhMahesh -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 40 minutes ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/anirudhmahesh-frontend-developer-challenge-4-accessibility-integration">
                                <h3 class="explore-item-title ttle_break">AnirudhMahesh - Frontend Developer Challenge
                                    4: Accessibility Integration</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Frontend Developer Challenge 4: Accessibility
                                    Integration</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">
                            https://github.com/AnirudhMahesh13/Frontend-Developer-Challenge-4-Accessibility-Integration
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Anirudh Mahesh</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>AnirudhMahesh -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 42 minutes ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/anirudhmahesh-frontend-developer-challenge-3-dashboard-and-project-creation">
                                <h3 class="explore-item-title ttle_break">AnirudhMahesh - Frontend Developer Challenge
                                    3: Dashboard and Project Creation</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Frontend Developer Challenge 3: Dashboard and Project
                                    Creation</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">
                            https://github.com/AnirudhMahesh13/Frontend-Developer-Challenge-3-Dashboard-and-Project-Creation
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Anirudh Mahesh</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>AnirudhMahesh -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 44 minutes ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/anirudhmahesh-frontend-developer-challenge-2-login-system">
                                <h3 class="explore-item-title ttle_break">AnirudhMahesh - Frontend Developer Challenge
                                    2: Login System</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Frontend Developer Challenge 2: Login System</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">
                            https://github.com/AnirudhMahesh13/Frontend-Developer-Challenge-2-Login-System
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Anirudh Mahesh</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>iwchini - Prepr...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 4 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/iwchini-prepr-digital-marketer-challenge-2-seo-challenge">
                                <h3 class="explore-item-title ttle_break">iwchini - Prepr Digital Marketer Challenge 2:
                                    SEO Challenge</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Prepr Digital Marketer Challenge 2: SEO Challenge</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Embark on an SEO journey for a fitness
                            apparel store. Research and personas shape SEO strategies, while comprehensive journey
                            mapping aligns with SEO goals at key touchpoints. Prioritizing practical implementation and
                            iterative refinement to strategically boost online visibility.
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Issa Chini</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>iwchini - Prepr...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 4 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/iwchini-prepr-digital-marketer-challenge-1-customer-persona-and-journey-map">
                                <h3 class="explore-item-title ttle_break">iwchini - Prepr Digital Marketer Challenge 1:
                                    Customer Persona and Journey Map</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Prepr Digital Marketer Challenge 1: Customer Persona and
                                    Journey Map</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Issa Chini</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>iwchini - Chall...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 4 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/iwchini-challenge-1-analyzing-dense-and-complex-texts">
                                <h3 class="explore-item-title ttle_break">iwchini - Challenge 1: Analyzing Dense and
                                    Complex Texts</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Challenge 1: Analyzing Dense and Complex Texts</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">When dealing with complex texts, I
                            break them into parts, define key terms, and write summaries. I use tools, ask questions,
                            and discuss with others. Taking breaks, I relate new information to what I know, employing
                            technology for assistance. It's about patience and finding a personalized approach.
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Issa Chini</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>TetianaMaksymiv...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 4 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/tetianamaksymiv-challenge-1-decision-making-in-business">
                                <h3 class="explore-item-title ttle_break">TetianaMaksymiv - Challenge 1: Decision Making
                                    in Business</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Challenge 1: Decision Making in Business</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Decision Making in Business
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Tetiana Maksymiv</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>faisalshah - Di...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 18 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/faisalshah-digital-marketer-challenge-3-paid-search-and-social-campaign">
                                <h3 class="explore-item-title ttle_break">faisalshah - Digital Marketer Challenge 3:
                                    Paid Search and Social Campaign</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Digital Marketer Challenge 3: Paid Search and Social
                                    Campaign</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">This is the plan for 6 month paid ads
                            strategy to promote our company STEAM Dreams, which imparts STEM based complimentary
                            education to school based education.
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Faisal Shah</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>PoliOxrud - Car...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 22 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://preprlabs.org/projects/polioxrud-career-planning-1-assess-yourself">
                                <h3 class="explore-item-title ttle_break">PoliOxrud - Career Planning 1: Assess Yourself
                                </h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Career Planning 1: Assess Yourself</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Active self assessment and
                            understanding, incorporating experience, talents, skills and prefernces into the right
                            career path.
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Poli Oxrud</b>
            </div>
        </div>
    </div>

    <div class="col-12 my-2">
        <div class="explore_section explore-item project_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="my_lab_img cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                    <h5 class="blue-txt">Project</h5>
                                </div>
                                <div class="canvas-body blue-bg-box">
                                    <p>faisalshah - Di...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/" alt=""
                            onerror="imageError(this)" style="width: 100%; display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2" style="font-size: 0.8rem">
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-supervised-user-circle.svg" alt="users"> 1 Members
                        </div>
                        <div class="mx-2">
                            <img width="24" src="front/img/ic_round-calendar-month.svg" alt="calendar"> 22 hours ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/projects/faisalshah-digital-marketer-challenge-2-seo-challenge">
                                <h3 class="explore-item-title ttle_break">faisalshah - Digital Marketer Challenge 2: SEO
                                    Challenge</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="front/img/Component_Icons/project_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public</span> · Associated Challenge: <a
                                    href="/challengeManager/">Digital Marketer Challenge 2: SEO Challenge</a></p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">The SEO strategy is designed to rank
                            high on Search engine research pages (SERP) and be well indexed by Google and easily
                            searchable by the target customer.
                        </p>
                    </div>
                    <!-- <div>
                    <button class="tag_pill">French</button>
                    <button class="tag_pill">Short Duration</button>
                    <button class="tag_pill">Easy</button>
                </div> -->
                </div>
            </div>
            <div class="mx-8" style="text-align: right; font-size: 18px ; padding: 0 10px 7px 0px">
                Created by : <b style="font-weight: bold">Faisal Shah</b>
            </div>
        </div>
    </div>

    <div class="col-md-12 plr-md-0">
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item active"><span class="page-link waves-effect">1</span></li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(2)">2</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(3)">3</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(4)">4</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(5)">5</span>
                    </li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item"><span class="page-link waves-effect" onclick="getFilteredList(646)">646</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>