<div class="col-12 my-2">
    <div class="explore_section explore-item lab_component">
        <div class="d-flex row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                <div class="my_lab_img cover_image">
                    <div id="canvasHTML" class="imageCanvasError" style="width: 100%; display: none;">
                        <div class="canvasbox">
                            <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                <h5 class="blue-txt">Lab</h5>
                            </div>
                            <div class="canvas-body blue-bg-box">
                                <p class="wrapping">Getting Started...</p>
                            </div>
                            <div class="canvas-footer">
                            </div>
                        </div>
                    </div>
                    <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/uploads/labs/GU4ZjyHg7uFtLdcW4A44qcQtj.png"
                        alt="Getting Started Lab For Employment Service Providers (ESP)" onerror="imageError(this)"
                        style="width: 100%;">
                </div>
                <div class="explore-item-stats d-flex align-items-center mt-2">
                    <div class="mx-2">
                        <fa-icon [icon]="faHeart" class="pr-2 far" style="font-size: 25px; color: blue;"></fa-icon>0
                    </div>
                    <div class="mx-2">
                        <fa-icon [icon]="faShare" class="pr-2 far" style="font-size: 25px; color: blue;"></fa-icon> 0
                    </div>
                    <!-- <div class="mx-2">
                        <i class="fas fa-eye"></i> 999
                    </div> -->
                </div>
                <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
            </div>
            <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                <div class="d-flex row justify-content-between align-items-center">
                    <div style="width: 100%;">

                        <div class="text-right">
                            <button href="JavaScript:Void(0);" data-id="22513" data-value="0"
                                class="btn blue_btn_outline f-s-18 followLabb float-right"><i class="fa fa-plus"></i>
                                Follow</button>
                        </div>
                        <h3 class="explore-item-title ttle_break" style="display: inline;">
                            <a href="https://preprlabs.org/labs/getting-started-lab-for-employment-service-providers-esp"
                                style="color: #498CCE !important;">Getting Started Lab For Employment Service Providers
                                (ESP)</a>
                        </h3>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <img class="explore-item-type" src="../../assets/lab_icon.svg" alt="resource module">
                    </div>
                    <div>
                        <p class="item-info mb-0">
                            <span>
                                Public Lab
                            </span>
                            · Last update: <span>1 year ago</span>
                            · Members: <span>36</span>
                            · Duration:

                            <span>None</span>
                            · Level:

                            <span>None</span>
                        </p>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">If you're here then you're a passionate
                        employment service provider who’s constantly looking for new tools and concepts. We've prepared
                        a series of Challenges just for you! The Challenges in this Lab are designed to help you learn
                        how you can get the most out of our platform, get started today!</p>
                </div>
                <div>
                    <a href="https://preprlabs.org/skillrelated/37174/lab">
                        <button class="tag_pill">
                            <span>Prepr Labs</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 my-2">
    <div class="explore_section explore-item lab_component">
        <div class="d-flex row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                <div class="my_lab_img cover_image">
                    <div id="canvasHTML" class="imageCanvasError" style="width: 100%; display: none;">
                        <div class="canvasbox">
                            <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                <h5 class="blue-txt">Lab</h5>
                            </div>
                            <div class="canvas-body blue-bg-box">
                                <p class="wrapping">UX Feedback Lab</p>
                            </div>
                            <div class="canvas-footer">
                            </div>
                        </div>
                    </div>
                    <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/uploads/labs/XQCvHLwke2XeHj34yugFinwYl.png"
                        alt="UX Feedback Lab" onerror="imageError(this)" style="width: 100%;">
                </div>
                <div class="explore-item-stats d-flex align-items-center mt-2">
                    <div class="mx-2">
                        <i class="far fa-heart"></i> 0
                    </div>
                    <div class="mx-2">
                        <i class="fas fa-share-alt"></i> 0
                    </div>
                    <!-- <div class="mx-2">
                        <i class="fas fa-eye"></i> 999
                    </div> -->
                </div>
                <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
            </div>
            <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                <div class="d-flex row justify-content-between align-items-center">
                    <div style="width: 100%;">

                        <div class="text-right">
                            <button href="JavaScript:Void(0);" data-id="22506" data-value="0"
                                class="btn blue_btn_outline f-s-18 followLabb float-right"><i class="fa fa-plus"></i>
                                Follow</button>
                        </div>
                        <h3 class="explore-item-title ttle_break" style="display: inline;">
                            <a href="https://preprlabs.org/labs/ux-feedback-lab" style="color: #498CCE !important;">UX
                                Feedback Lab</a>
                        </h3>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <img class="explore-item-type" src="../../assets/lab_icon.svg"
                            alt="resource module">
                    </div>
                    <div>
                        <p class="item-info mb-0">
                            <span>
                                Public Lab
                            </span>
                            · Last update: <span>1 year ago</span>
                            · Members: <span>23</span>
                            · Duration:

                            <span>None</span>
                            · Level:

                            <span>None</span>
                        </p>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">
                        Our goal is to get useful feedback for PreprLabs pre-react and our redesigned Version on Figma
                        post-react. PreprLabs has different types of users: regular users (the Learners) and those who
                        create their tasks in forms of Labs and Challenges (the Managers).

                        &nbsp;

                        The next step for you is to start the Challenge within this Lab.&nbsp;</p>
                </div>
                <div>
                    <a href="https://preprlabs.org/skillrelated/37174/lab">
                        <button class="tag_pill">
                            <span>Prepr Labs</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 my-2">
    <div class="explore_section explore-item lab_component">
        <div class="d-flex row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
            <div class="my_lab_img cover_image">
                                      <div id="canvasHTML" class="imageCanvasError" style="width: 100%; display: none;">
                        <div class="canvasbox">
                            <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                <h5 class="blue-txt">Lab</h5>
                            </div>
                            <div class="canvas-body blue-bg-box">
                                <p class="wrapping">Youth Boost - M...</p>
                            </div>
                            <div class="canvas-footer">
                            </div>
                        </div>
                    </div>
                    <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/uploads/labs/hZ6eUZAyS1P8ud1pgUacUM8Oq.jpg" alt="Youth Boost - Machine Learning Engineer Career Lab" onerror="imageError(this)" style="width: 100%;">
                                        </div>
                <div class="explore-item-stats d-flex align-items-center mt-2">
                    <div class="mx-2">
                        <i class="far fa-heart"></i> 0                        </div>
                    <div class="mx-2">
                        <i class="fas fa-share-alt"></i> 0
                    </div>
                    <!-- <div class="mx-2">
                        <i class="fas fa-eye"></i> 999
                    </div> -->
                </div>
                <p class="item-info mt-3">Hosted by<span> Youth Boost </span></p>
            </div>
            <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                <div class="d-flex row justify-content-between align-items-center">
                    <div style="width: 100%;">                        
                        
                        <div class="text-right">
                                                                <button href="JavaScript:Void(0);" data-id="22337" data-value="0" class="btn blue_btn_outline f-s-18 followLabb float-right"><i class="fa fa-plus"></i> Follow</button>
                                                        </div>
                        <h3 class="explore-item-title ttle_break" style="display: inline;">
                            <a href="https://preprlabs.org/labs/canada-digital-adoption-program-cdap-youth-magnet-machine-learning-engineer-career-lab" style="color: #498CCE !important;">Youth Boost - Machine Learning Engineer Career Lab</a>
                        </h3>
                    </div>
                </div>
                                    <div class="d-flex align-items-center">
                    <div>
                        <img class="explore-item-type" src="../../assets/lab_icon.svg" alt="resource module">
                    </div>
                    <div>
                        <p class="item-info mb-0">
                            <span>
                                Public Lab
                            </span> 
                            · Last update: <span>7 months ago</span>
                            · Members: <span>23</span>
                            · Duration:
                                 
                                                                                <span>3 - 5 Days</span>
                                     
                                                                · Level:
                                 
                                                                                <span>Beginner</span>
                                     
                                                            </p>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Machine Learning Engineer Career Lab</p>
                </div>
                                    <div>
                                                                                <a href="https://preprlabs.org/skillrelated/4/lab">
                                <button class="tag_pill">
                                    <span>Problem Solving</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/1514/lab">
                                <button class="tag_pill">
                                    <span>Analytics</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/3895/lab">
                                <button class="tag_pill">
                                    <span>Business Intelligence</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8509/lab">
                                <button class="tag_pill">
                                    <span>Data Analysis</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8530/lab">
                                <button class="tag_pill">
                                    <span>Data Classification</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8569/lab">
                                <button class="tag_pill">
                                    <span>Data Manipulation</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8679/lab">
                                <button class="tag_pill">
                                    <span>Databases</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/19012/lab">
                                <button class="tag_pill">
                                    <span>Linear Regression</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/19769/lab">
                                <button class="tag_pill">
                                    <span>Machine Learning</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/20364/lab">
                                <button class="tag_pill">
                                    <span>Matplotlib</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/22722/lab">
                                <button class="tag_pill">
                                    <span>NumPy</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/27014/lab">
                                <button class="tag_pill">
                                    <span>Python</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/27020/lab">
                                <button class="tag_pill">
                                    <span>Pandas</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/29169/lab">
                                <button class="tag_pill">
                                    <span>SQL</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/31661/lab">
                                <button class="tag_pill">
                                    <span>Statistics</span>
                                </button>
                            </a>
                                                                    </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 my-2">
    <div class="explore_section explore-item lab_component">
        <div class="d-flex row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
            <div class="my_lab_img cover_image">
                                      <div id="canvasHTML" class="imageCanvasError" style="width: 100%; display: none;">
                        <div class="canvasbox">
                            <div class="canvas-header" style="padding: 20px 15px 5px; height: 33%;">
                                <h5 class="blue-txt">Lab</h5>
                            </div>
                            <div class="canvas-body blue-bg-box">
                                <p class="wrapping">Youth Boost - M...</p>
                            </div>
                            <div class="canvas-footer">
                            </div>
                        </div>
                    </div>
                    <img src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/uploads/labs/hZ6eUZAyS1P8ud1pgUacUM8Oq.jpg" alt="Youth Boost - Machine Learning Engineer Career Lab" onerror="imageError(this)" style="width: 100%;">
                                        </div>
                <div class="explore-item-stats d-flex align-items-center mt-2">
                    <div class="mx-2">
                        <i class="far fa-heart"></i> 0                        </div>
                    <div class="mx-2">
                        <i class="fas fa-share-alt"></i> 0
                    </div>
                    <!-- <div class="mx-2">
                        <i class="fas fa-eye"></i> 999
                    </div> -->
                </div>
                <p class="item-info mt-3">Hosted by<span> Youth Boost </span></p>
            </div>
            <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                <div class="d-flex row justify-content-between align-items-center">
                    <div style="width: 100%;">                        
                        
                        <div class="text-right">
                                                                <button href="JavaScript:Void(0);" data-id="22337" data-value="0" class="btn blue_btn_outline f-s-18 followLabb float-right"><i class="fa fa-plus"></i> Follow</button>
                                                        </div>
                        <h3 class="explore-item-title ttle_break" style="display: inline;">
                            <a href="https://preprlabs.org/labs/canada-digital-adoption-program-cdap-youth-magnet-machine-learning-engineer-career-lab" style="color: #498CCE !important;">Youth Boost - Machine Learning Engineer Career Lab</a>
                        </h3>
                    </div>
                </div>
                                    <div class="d-flex align-items-center">
                    <div>
                        <img class="explore-item-type" src="/front/img/Component_Icons/lab_icon.svg" alt="resource module">
                    </div>
                    <div>
                        <p class="item-info mb-0">
                            <span>
                                Public Lab
                            </span> 
                            · Last update: <span>7 months ago</span>
                            · Members: <span>23</span>
                            · Duration:
                                 
                                                                                <span>3 - 5 Days</span>
                                     
                                                                · Level:
                                 
                                                                                <span>Beginner</span>
                                     
                                                            </p>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Machine Learning Engineer Career Lab</p>
                </div>
                                    <div>
                                                                                <a href="https://preprlabs.org/skillrelated/4/lab">
                                <button class="tag_pill">
                                    <span>Problem Solving</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/1514/lab">
                                <button class="tag_pill">
                                    <span>Analytics</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/3895/lab">
                                <button class="tag_pill">
                                    <span>Business Intelligence</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8509/lab">
                                <button class="tag_pill">
                                    <span>Data Analysis</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8530/lab">
                                <button class="tag_pill">
                                    <span>Data Classification</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8569/lab">
                                <button class="tag_pill">
                                    <span>Data Manipulation</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/8679/lab">
                                <button class="tag_pill">
                                    <span>Databases</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/19012/lab">
                                <button class="tag_pill">
                                    <span>Linear Regression</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/19769/lab">
                                <button class="tag_pill">
                                    <span>Machine Learning</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/20364/lab">
                                <button class="tag_pill">
                                    <span>Matplotlib</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/22722/lab">
                                <button class="tag_pill">
                                    <span>NumPy</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/27014/lab">
                                <button class="tag_pill">
                                    <span>Python</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/27020/lab">
                                <button class="tag_pill">
                                    <span>Pandas</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/29169/lab">
                                <button class="tag_pill">
                                    <span>SQL</span>
                                </button>
                            </a>
                                                        <a href="https://preprlabs.org/skillrelated/31661/lab">
                                <button class="tag_pill">
                                    <span>Statistics</span>
                                </button>
                            </a>
                                                                    </div>
            </div>
        </div>
    </div>
</div>