<div class="col-12 my-2 exp_box" id="filtered-list" data-test="filtered-list">
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item active"><span class="page-link waves-effect">1</span></li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(2)">2</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(3)">3</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(4)">4</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(5)">5</span>
                    </li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item"><span class="page-link waves-effect" onclick="getFilteredList(64)">64</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="width: 100%; display: none;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge for A...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt=""
                            src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/uploads/challenge/tHnvnMPzRKTbGpCfb8o4QOPra.jpg"
                            class="img-thumbnail" onerror="imageError(this)">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://preprlabs.org/challengeManager/challenge-for-aws">
                                <h3 class="explore-item-title ttle_break">Challenge for AWS</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>12/17/2023</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 1 - 2 Days</span>

                                · Level:

                                <span>Beginner</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">These free tier offers are only
                            available to new AWS customers, and are available for 12 months following your AWS sign-up
                            date. When your 12 month free usage term expires or if your application use exceeds the
                            tiers, you simply pay standard, pay-as-you-go service rates (see each service page for full
                            pricing details). Restrictions apply; see offer terms for more details.</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/7/challenge">
                            <button class="tag_pill">
                                <span>Leadership</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>.NET Developmen...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://preprlabs.org/challengeManager/net-development-basics">
                                <h3 class="explore-item-title ttle_break">.NET Development Basics</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>01/07/2024</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> Less than 2 Hours</span>

                                · Level:

                                <span>Beginner</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Step 1: Set up a development
                            environment.Step 2: Learn the basics of C# programming language.Step 3: Understand
                            object-oriented programming concepts.Step 4: Learn about .NET framework and its
                            components.Step 5: Explore the Visual Studio IDE.Step 6: Build a simple console application
                            using C# and .NET.Step 7: Understand the difference between value types and reference
                            types.Step 8: Learn about coll...</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/5590/challenge">
                            <button class="tag_pill">
                                <span>Choice Of Entity</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/8838/challenge">
                            <button class="tag_pill">
                                <span>Deke's Techniques</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/14516/challenge">
                            <button class="tag_pill">
                                <span>Ground Up Development</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/16238/challenge">
                            <button class="tag_pill">
                                <span>IT and Hardware</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/22956/challenge">
                            <button class="tag_pill">
                                <span>Object-Oriented Programming</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/37088/challenge">
                            <button class="tag_pill">
                                <span>Volume variety and velocity of data</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="width: 100%; display: none;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>DTP &amp; FUN - Tea...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt=""
                            src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/uploads/challenge/DGIMMt3qAlFSXjNfOJ0NsrOsW.png"
                            class="img-thumbnail" onerror="imageError(this)">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 27
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 12
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://preprlabs.org/challengeManager/dtp-FUN-team-business-innovation-challenge">
                                <h3 class="explore-item-title ttle_break">DTP &amp; FUN - Team Business Innovation
                                    Challenge</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Private Challenge</span> · Challenge deadline:
                                <span>12/01/2023</span> · Total submissions: <span>7</span> · Status:
                                <span>Closed</span><br>

                                · Duration:

                                <span>None</span>
                                · Level:

                                <span>None</span>
                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">How might we better support businesses
                            around us? Businesses around the world have had to adapt over the last 3&nbsp;years&nbsp;as
                            the nature of sales has diversified and changed, and will need to continue to evolve to meet
                            the realities of a post-pandemic world. Challenges abound across all aspects of
                            organizations' business models, including operations,&nbsp;workforce, customer experience
                            an...</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/2248/challenge">
                            <button class="tag_pill">
                                <span>Audience Analysis</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/2252/challenge">
                            <button class="tag_pill">
                                <span>Audience Segmentation</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/3936/challenge">
                            <button class="tag_pill">
                                <span>Business Planning</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/6186/challenge">
                            <button class="tag_pill">
                                <span>Collaborative Decision-making</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/6189/challenge">
                            <button class="tag_pill">
                                <span>Collaborative Innovation</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/6195/challenge">
                            <button class="tag_pill">
                                <span>Collaborative Problem Solving</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/16797/challenge">
                            <button class="tag_pill">
                                <span>Innovation Development</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/16798/challenge">
                            <button class="tag_pill">
                                <span>Innovation Management</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/20151/challenge">
                            <button class="tag_pill">
                                <span>Market Entry</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/26780/challenge">
                            <button class="tag_pill">
                                <span>Prototyping</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/34558/challenge">
                            <button class="tag_pill">
                                <span>UX Design</span>
                            </button>
                        </a>
                        <a href="https://preprlabs.org/skillrelated/36982/challenge">
                            <button class="tag_pill">
                                <span>Innovation</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #5 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://preprlabs.org/challengeManager/challenge-5-selenium">
                                <h3 class="explore-item-title ttle_break">Challenge #5 - Selenium</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Selenium is a popular automation tool
                            for testing web applications, and it offers several benefits that make it important to
                            learn. Firstly, it allows testers to automate repetitive tasks like regression testing,
                            which saves time and effort. Secondly, it supports cross-browser compatibility testing,
                            ensuring that web applications function correctly across different browsers. Thirdly, it can
                            be int...</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/29873/challenge">
                            <button class="tag_pill">
                                <span>Selenium</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #4 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/challengeManager/challenge-4-testing-performance-with-jmeter-for-quality-assurance-of-web-applications">
                                <h3 class="explore-item-title ttle_break">Challenge #4 - Testing Performance with JMeter
                                    for Quality Assurance of Web Applications</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">JMeter is an open source testing
                            software used for load and performance testing, functional testing, regression testing, and
                            more. It can simulate a heavy load on a server or network and output performance data in
                            several ways. Testing web application performance with JMeter is important because it helps
                            to identify performance bottlenecks, enables load testing, facilitates testing of complex
                            scen...</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/33466/challenge">
                            <button class="tag_pill">
                                <span>Testing</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #3 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/challengeManager/challenge-3-testing-apis-with-postman-for-quality-assurance">
                                <h3 class="explore-item-title ttle_break">Challenge #3 - Testing APIs with Postman for
                                    Quality Assurance</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">POSTMAN is an API client that is not
                            only used for testing APIs but also for developing, sharing and documenting them. It is
                            ideal for backend testing, and it sends requests to the server and receives responses back.
                            Testing APIs with Postman is essential because it helps identify defects and bugs, enables
                            automated testing, facilitates collaboration, simplifies testing of complex scenarios, and
                            e...</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/33466/challenge">
                            <button class="tag_pill">
                                <span>Testing</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #2 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/challengeManager/challenge-2-user-acceptance-testing-for-quality-assurance">
                                <h3 class="explore-item-title ttle_break">Challenge #2 - User Acceptance Testing for
                                    Quality Assurance</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Learning about User Acceptance Testing
                            (UAT) is important because it is the final stage of software development before it goes
                            live, and involves users testing the software to determine if it meets their needs and
                            requirements. UAT is typically performed using test scripts that are based on user stories,
                            which are small and consistent forms of describing the software's functionality. The
                            benef...</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/33466/challenge">
                            <button class="tag_pill">
                                <span>Testing</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #1 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/challengeManager/challenge-1-principles-of-software-testing-for-quality-assurance">
                                <h3 class="explore-item-title ttle_break">Challenge #1 - Principles of Software Testing
                                    for Quality Assurance</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Learning the principles of software
                            testing is crucial for anyone interested in software development as it provides a framework
                            for ensuring that the software is reliable, functional, and meets the needs of its intended
                            users. By testing the software, defects and bugs can be identified and fixed before the
                            software is released to the end-users. This ensures the software's reliability, improves...
                        </p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/33086/challenge">
                            <button class="tag_pill">
                                <span>Technical Analysis</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #4 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="https://preprlabs.org/challengeManager/challenge-4-networking-with-linux">
                                <h3 class="explore-item-title ttle_break">Challenge #4 - Networking with Linux</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Networking with Linux is important due
                            to the prevalence of Linux in networking infrastructure, the networking capabilities of
                            Linux, the flexibility and customization options it offers, the security considerations,
                            troubleshooting and diagnostics capabilities, automation and scripting opportunities,
                            industry demand and career prospects, as well as the community support and resources
                            available....</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/32607/challenge">
                            <button class="tag_pill">
                                <span>Systems Management</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 my-2">
        <div class="explore_section explore-item challenge_component">
            <div class="d-flex row">
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-xs-12 p-2">
                    <div class="cover_image">
                        <div id="canvasHTML" class="imageCanvasError" style="display: contents;">
                            <div class="canvasbox">
                                <div class="canvas-header">
                                    <h5 class="green-txt"> Challenge</h5>
                                </div>
                                <div class="canvas-body green-bg-box">
                                    <p>Challenge #3 -...</p>
                                </div>
                                <div class="canvas-footer">
                                </div>
                            </div>
                        </div>
                        <img alt="" src="https://prepr-preprlabs-prod-bucket.s3.ca-central-1.amazonaws.com/"
                            class="img-thumbnail" onerror="imageError(this)" style="display: none;">
                    </div>
                    <div class="explore-item-stats d-flex align-items-center mt-2">
                        <div class="mx-2">
                            <i class="far fa-heart"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-share-alt"></i> 0
                        </div>
                        <div class="mx-2">
                            <i class="fas fa-eye"></i> 0
                        </div>
                    </div>
                    <p class="item-info mt-3">Hosted by<span> Prepr </span></p>
                </div>
                <div class="col-lg-7 col-md-7 col-xl-9 col-12 p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a
                                href="https://preprlabs.org/challengeManager/challenge-3-linux-commands-for-working-with-files">
                                <h3 class="explore-item-title ttle_break">Challenge #3 - Linux Commands For Working with
                                    Files</h3>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <img class="explore-item-type" src="/front/img/Component_Icons/challenge_icon.svg"
                                alt="resource module">
                        </div>
                        <div>
                            <p class="item-info mb-0"><span>Public Challenge</span> · Challenge deadline:
                                <span>None</span> · Total submissions: <span>0</span> · Status:
                                <span>Open</span><br>

                                · Duration:

                                <span> 2 - 4 Hours</span>

                                · Level:

                                <span>Intermediate</span>

                                · Type:

                                <span>None</span>
                                · Mode:

                                <span>None</span>

                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="mx-1 mt-3 mb-4" style="word-wrap: break-word;">Learning Linux commands for working
                            with files is important for improving efficiency, automating tasks, troubleshooting issues,
                            and adapting to a rapidly changing technological landscape. You gain the ability to navigate
                            the file system, manipulate files and directories, manage processes, configure system
                            settings, and perform a wide range of administrative tasks directly from the command
                            line....</p>
                    </div>
                    <div>
                        <a href="https://preprlabs.org/skillrelated/32568/challenge">
                            <button class="tag_pill">
                                <span>System Operations</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 plr-md-0">
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item active"><span class="page-link waves-effect">1</span></li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(2)">2</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(3)">3</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(4)">4</span>
                    </li>
                    <li class="page-item "><span class="page-link waves-effect" onclick="getFilteredList(5)">5</span>
                    </li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item"><span class="page-link waves-effect" onclick="getFilteredList(64)">64</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>