<p-toast></p-toast>

<div class="header my-3 full-height" id="outer" style="background-color: #f3f7fc;" > <h1>Welcome {{userModel.firstName}}!</h1>

  
   

<div class="m-3 ps-4">
    <!-- <h2 class="card-title">Login</h2> -->
   

      <div class="mb-3">
        <label  class="form-label"  
         >First Name: {{userModel.firstName}}</label>
        <!-- <input type="text" class="form-control"  required> -->
        
      </div>
  
      <div class="mb-3">
        <label >Last Name: {{userModel.lastName}}</label>
        <!-- <input type="text" class="form-control"  required> -->
        
      </div>
  
      <div class="mb-3">
        <label  >Username: {{userModel.username}}</label>
        <!-- <input type="text" class="form-control" required> -->
        
      </div>
      
      <div class="mb-3">
        <label >Email: {{userModel.email}}</label>
        <!-- <input type="text" class="form-control"  required> -->
        
      </div>
      
      
    
  
  </div>
</div>
